appdirs==1.4.4
astroid==2.5.2
attrs==20.3.0
boto3==1.17.42
botocore==1.20.42
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
cryptography==3.4.7
distlib==0.3.1
filelock==3.0.12
idna==2.9
iniconfig==1.1.1
isort==5.8.0
Jinja2==2.11.3
jmespath==0.10.0
lazy==1.4
lazy-object-proxy==1.6.0
MarkupSafe==1.1.1
mccabe==0.6.1
mock==4.0.3
more==0.0.1b14
more-itertools==8.7.0
moto==2.0.4
packaging==20.9
pipenv==2020.11.15
pluggy==0.13.1
py==1.10.0
pycparser==2.20
pylint==2.7.4
pyOpenSSL==20.0.1
pyparsing==2.4.7
pytest==6.2.2
python-dateutil==2.8.1
pytz==2021.1
requests==2.25.1
responses==0.13.2
s3transfer==0.3.6
six==1.15.0
toml==0.10.2
urllib3==1.26.4
virtualenv==20.4.3
virtualenv-clone==0.5.4
Werkzeug==1.0.1
wrapt==1.12.1
xmltodict==0.12.0
zipp==3.4.1