.header img {
  float: left;
  padding-top: 20px;
  width: 100px;
  height: 100px;
}

.header h1 {
  position: relative;
  top:15px;
  font-size: 25px;
  color: #3D195B;
}

.title{
  padding-bottom: 10px;
}